
@{
    ViewBag.Title = "CentralAviso";
}

<h2>Central de Avisos</h2>

<div class="panel">
    <div class="panel-body">
        <div class="panel-group">
            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" style="width: 7%; height: 7%; border-radius: 50%" />
            <input type="text" id="usuario" placeholder="Entre com um usuário" />&nbsp;<button id="defineUSer" class="btn">Entrar...</button>
        </div>
        <div class="col-md-12">
            <textarea id="textarea_t" rows="6" class="form-control" style="max-width: 100%;"></textarea>
        </div>
        <div style="margin-top: 10px;" class="btn btn-success" id="enviar">Enviar</div>
    </div>
</div>

<div class="mensagens_div">

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#enviar").hide();
        })

        $("#defineUSer").click(function () {
            $("#usuario").attr("disabled", true);
            $("#enviar").show();
            $(this).hide();
        })

        $(function () {
            var chat = $.connection.chatHub;

            chat.client.publicarMensagem = function (nome, mensagem, imagem) {
                //var containerNome = $('#usuario').text(nome).val();
                var containerMensagem = $('#textarea_t').text(mensagem).html();
                $(".mensagens_div").append(
                    "<div class='panel-group mensagens'>" +
                    "<div class='panel-group'>" +
                    "<img src='"+imagem+"' style='width: 7%; height: 7%; border-radius: 50%' />" +
                    "<span>" +
                    nome +
                    ": </span>" +
                    "</div>" +
                    "<div class='col-md-12'>" +
                    containerMensagem +
                    "</div>" +
                    "</div>");
            };

            $.connection.hub.start().done(function () {
                $("#enviar").click(function () {
                    var nome = $("#usuario").val();
                    var mensagem = $("#textarea_t").val();
                    var imagem = "https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png";
                    chat.server.enviarMensagem(nome, mensagem,imagem);
                    $("#textarea_t").val('');
                });
            });
        });
    </script>
}
