
@{
    ViewBag.Title = "CentralAviso";
}

<h2>Central de Avisos</h2>

<div class="panel">
    <div class="panel-body">
        <div class="panel-group">
            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" style="width: 7%; height: 7%; border-radius: 50%" />
            <span id="usuario">Ramon Xavier: </span>
        </div>
        <div class="col-md-12">
            <textarea id="textarea_t" rows="6" class="form-control" style="max-width: 100%;"></textarea>
        </div>
        <div style="margin-top: 10px;" class="btn btn-success" id="enviar">Enviar</div>
    </div>
</div>

<div class="mensagens_div">
    <div class="panel-group mensagens">
        <div class="panel-group">
            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" style="width: 7%; height: 7%; border-radius: 50%" />
            <span>Ramon Xavier: </span>
        </div>
        <div class="col-md-12">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
            Fusce non varius purus aenean nec magna.
        </div>
    </div>
    <div class="panel-group mensagens">
        <div class="panel-group">
            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" style="width: 7%; height: 7%; border-radius: 50%" />
            <span>Ramon Xavier: </span>
        </div>
        <div class="col-md-12">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
            Fusce non varius purus aenean nec magna.
        </div>

    </div>
    <div class="panel-group mensagens">
        <div class="panel-group">
            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" style="width: 7%; height: 7%; border-radius: 50%" />
            <span>Ramon Xavier: </span>
        </div>
        <div class="col-md-12">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
            Fusce non varius purus aenean nec magna.
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            console.log(chat);
            chat.clients.publicarMensagem = function (nome, mensagem) {
                var containerNome = $('#usuario').text(nome).html();
                var containerMensagem = $('#textarea_t').text(mensagem).html();
            $("#mensagens_div").append(
                '<li><strong>'
                + containerNome +
                '</strong>: '
                + containerMensagem + '</li>');
            };

            $.connection.hub.start().done(function () {
                $("#enviar").click(function () {
                    var nome = $("#nome").val();
                    var mensagem = $("#mensagem").val();
                    chat.server.enviarMensagem(nome, mensagem);
                    $("#mensagem").val('');
                });
            });
        });
    </script>
}
