
@{
    ViewBag.Title = "ListarArquivos";
}

<h2>ListarArquivos</h2>

<table id="table">
    <thead>
    <tr>
        <td>teste</td>
        <td>teste</td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="fa fa-file"></i></td>
            <td>21321231</td>
        </tr>
    </tbody>
</table>

@section scripts
{
    <script>

    </script>
}
