@model EstudoR2.Models.Professor

@{
    ViewBag.Title = "EditarProfessores";
}

<h2>EditarProfessores</h2>


@using (Html.BeginForm("Editar", "Professor", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(Model => Model.NomeProfessor, "Nome do Professor");
        @Html.TextBoxFor(Model => Model.NomeProfessor, new { @class = "form-control", @id = "nomeProfessor" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.IdProfessor, "Id Professor")
        @Html.TextBox("IdProfessor", Model.IdProfessor, new { @class = "form-control", @id = "idProfessor", @readonly = true })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-sm fa fa-floppy-o"> Salvar Edição</button>
        <button type="reset" class="btn-primary btn-sm btn btn-warning fa fa-trash"> Limpar dados</button>
    </div>
}