
@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Professor</h2>

@using (Html.BeginForm("Salvar", "Professor", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("nomeProfessor", "Nome do Professor")
        @Html.TextBox("nomeProfessor", null, new { @class = "form-control", @id = "nomeProfessor", @name = "nomeProfessor" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn-primary btn-sm btn btn-success fa fa-floppy-o"> Salvar Professor</button>
        <button type="reset" class="btn-primary btn-sm btn btn-warning fa fa-trash"> Limpar Dados</button>
        <button onclick="history.go(-1);" class="btn-primary btn-sm btn btn-primary fa fa-sign-out"> Voltar</button>
    </div>
}
