
@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Professor</h2>

@using (Html.BeginForm("SalvaProfessor", "Professor", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("nomeProfessor", "Nome do Professor")
        @Html.TextBox("nomeProfessor", null, new { @class = "form-control", @id = "nomeProfessor", @name = "nomeProfessor" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-sm btn-success">Salvar</button>
    </div>
}
